@import ./reset.css;
@import ./syntax.css;

body {
  font-family: 'Source Code Pro', monospace;

  overflow: hidden;
  position: absolute;
  top: 0; left: 0;
  right: 0; bottom: 0;
  color: #fff;
  background: #000;
  margin: 0;
  padding: 0;

  font-size: 12px;
  line-height: 1.5em;
}

.exercise {
  display: flex;
  flex-flow: row wrap;
  flex-direction: column;
  height: 100%;
}

.header {
  background-color: #363d43;
  border-bottom: 1px solid #24292c;
  display: flex;
}

.main-content {
  background-color: #4e565c;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex: 1;
}

.main-left {
  flex: 1 auto;
  max-width: 50%;
  /*background-color: #3E464C;*/
  border-right: 1px solid  #24292c;
  box-sizing: border-box;
  min-width: 80px;
}

.main-right {
  display: flex;
  flex: 2;
  flex-flow: column;
  flex-direction: column;
  margin-left: -4px;
}

.display {
  flex: 1 auto;
  overflow: auto;
  position: relative;
  padding: 1em;
  border-bottom: 1px solid  #24292c;
  box-sizing: border-box;
  min-height: 80px;
}

.console {
  flex: 1 auto;
  margin-top: -4px;
  overflow: auto;
  background-color: #363d43;
  /*background-color: #161d23;*/
  color: #fff;
  font-weight: 700;
  padding: 1em;
  width: 100%;
  box-sizing: border-box;
  white-space: pre-wrap;
}

.console .info {
  color: #629cff;
}
.console .ok {
  color: #68e0a2;
}
.console .warn {
  color: #dad26f;
}
.console .error {
  color: #ff5c53;
}
.console .debug {
  color: #889;
}

.sidebar-disabled .sidebar {
  display: none;
}
.sidebar-disabled .slider-column {
  display: none;
}
.sidebar-disabled .main-right {
  margin-left: 0;
}
.display-disabled .display {
  display: none;
}
.display-disabled .console {
  margin-top: 0;
}
.display-disabled .slider-row {
  display: none;
}
.console-disabled .console {
  display: none;
}
.console-disabled .slider-row {
  display: none;
}
.console-disabled .display {
  min-height: 100% !important;
  max-height: 100% !important;
}
.console-disabled.display-disabled .sidebar {
  max-width: 100% !important;
  min-width: 100% !important;
}

.slider {
  flex: 0 auto;
  z-index: 1;
}

.slider-column {
  cursor: col-resize;
  border-right: 4px solid transparent;
}

.slider-row {
  cursor: row-resize;
  border-bottom: 4px solid transparent;
}

.button, .link {
  cursor: pointer;
  text-transform: uppercase;
}
.button {
  font-family: 'Source Code Pro', monospace;
  padding: 1em;
  min-width: 80px;
  border: 0;
  border-radius: 0;
  color: #fff;
  font-weight: 700;
  background-color: #A9B0C2;
  border: 2px solid #A9B0C2;
}
.button:hover,
.button:focus {
  outline: 0;
  color: #fff;
  border: 2px solid #fff;
}

.button-group {
  display: flex;
  align-items: center;
  white-space: nowrap;
  padding: 1em 2em;
}
.button-group.left {
  padding-left: 1em;
  text-align: left;
  justify-content: flex-start;
}
.button-group.center {
  border-left: 1px solid #24292c;
  border-right: 1px solid #24292c;
  text-align: left;
  justify-content: flex-start;
  text-transform: uppercase;
  color: #979E9D;
}
.button-group.right {
  flex: 1;
  text-align: right;
  justify-content: flex-end;
}

.toggle-buttons .link {
  border-bottom: 4px solid #527cff;
  display: inline-block;
  margin: 0.6em;
  padding-bottom: 0;
  box-sizing: border-box;
  height: 22px;
}
.toggle-buttons .link.disabled {
  color: #979E9D;
  border-bottom-color: #525162;
}
.toggle-buttons .link.disabled:hover,
.toggle-buttons .link.disabled:focus {
  background-color: #527cff;
  color: #fff;
  border-bottom-color: #527cff;
}

.continue-link {
  display: none;
}
.passed .continue-link {
  display: block;
}
.success .continue-link {
  animation: flashing 2s infinite;
}
.continue .continue-link {
  display: none;
}

@keyframes flashing {
  50% { color: #527CFF; }
}

.status-display {
  position: absolute;
  overflow: hidden;
  bottom: 1em;
  right: 1em;
  width: 135px;
  height: 42px;
  text-align: right;
}

.status-display .button {
  display: block;
  width: 100%;
  position: absolute;
  top: 42px;
  margin: 0;
  transition: transform 0.1s, visibility 0s;
  visibility: hidden;
}

.status-display .verify-btn:hover,
.status-display .verify-btn:focus,
.status-display .retry-btn:hover,
.status-display .retry-btn:focus {
  outline: 0;
  color: #fff;
  border: 2px solid #fff;
}

.status-display .verify-btn {
  background-color: #527cff;
  border: 2px solid #527cff;
  top: 0;
  visibility: visible;
}

.status-display .testing-btn {
  background-color: #dad26f;
  border: 2px solid #dad26f;
}

.status-display .success-btn {
  background-color: #68e0a2;
  border: 2px solid #68e0a2;
}

.status-display .retry-btn {
  background-color: #ff5c53;
  border: 2px solid #ff5c53;
}

.testing .verify-btn,
.failed .verify-btn,
.passed .verify-btn {
  transform: translateY(-42px);
  visibility: hidden;
}
.testing .testing-btn {
  transform: translateY(-42px);
  visibility: visible;
}
.passed .success-btn {
  transform: translateY(-42px);
  visibility: visible;
}
.failed .retry-btn {
  transform: translateY(-42px);
  visibility: visible;
}


a {
  color: white;
  font-weight: 700;
  text-decoration: none;
  padding: 2px 2px 0;
}

a:hover,
a:focus {
  background-color: #527cff;
  outline: 0;
  padding-bottom: 2px;
}

a[disabled] {
  background: transparent;
  opacity: 0.5;
}

.sidebar {
  padding: 1em;
  overflow: auto;
}

.sidebar a {
  box-sizing: border-box;
  border-bottom: 1px solid #fff;
}
.sidebar a:focus,
.sidebar a:hover {
  border: 0;
}


.sidebar p {
  margin-bottom: 1em;
}

.sidebar pre,
.sidebar code {
  font-family: 'Source Code Pro', monospace;
  font-weight: 200;
}

.sidebar h1 {
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  margin-bottom: 1em;
  padding-bottom: 1em;
  padding-top: 1em;
}

.sidebar h1:after {
  content: '------------------------';
  display: block;
  padding-top: 1em;
}
.sidebar h2 {
  font-size: 1.2em;
  padding: 1em 0;
}

.sidebar hr {
  margin: 1.25em 0;
  height: 0;
  border-top: 1px dotted #AAA;
}

.sidebar pre {
  margin-bottom: 1em;
  overflow-x: auto;
  overflow-y: none;
  background-color: rgba(0,0,0,0.5);
  padding: 1em;
}

.sidebar pre + h2,
.sidebar pre + h3 {
  margin-top: 2em;
}

.sidebar code {
  color: #AAA;
}

.sidebar pre > code {
  color: #FFF;
}
.sidebar ul,
.sidebar ol {
  margin-bottom: 1em;
}

.sidebar ul {
  list-style: none;
}

.sidebar ul > li:before {
  content: '\00a0* ';
  font-weight: 700;
  opacity: 0.5;
}

.sidebar ul > li {
  text-indent: -21px;
  position: relative;
  left: 21px;
  margin-right: 21px;
  margin-bottom: 0.25em;
}

.sidebar ol > li {
  margin-left: 2em;
  margin-bottom: 0.5em;
}

#container {
  position: absolute;
  top: 0; left: 0;
  right: 0; bottom: 0;
}

.sidebar .def { border-bottom: 1px dotted rgba(255,255,255,0.5); }
.sidebar .hljs-preprocessor {
  color: #FF6E57;
}
.sidebar .hljs-comment .def { border-bottom: none; }
.sidebar .hljs-preprocessor .def { border-bottom: none; }
.sidebar .hljs-number .def { border-bottom: none; }
.sidebar .hljs-comment {
  color: #AAA;
}
.sidebar .hljs-keyword .def { border-bottom-color: rgba(255, 226, 95, 0.5); }
.sidebar .hljs-keyword {
  color: #FFE25F;
}
.sidebar .hljs-number {
  color: #58FF8B;
}
.sidebar .hljs-literal {
  color: #FF6E57;
}

.sidebar .warn {
  color: #FF6E57;
}

.notification {
  opacity: 0;
  font-weight: 700;
  font-size: 12px;
  color: #34363B;
  padding: 1em;
  margin-left: 0.5em;
  margin-bottom: 0.5em;
  width: 300px;
  background: #FF6E57;
  transition: opacity 0.5s, bottom 0.5s, top 0.5s, left 0.5s, right 0.5s;
}

.notification.opening {
  opacity: 1;
}

.notification.closing {
  opacity: 0;
  left: -200px!important;
}

.success-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  visibility: hidden;
  z-index: 10;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.25);
  transition: opacity 0.25s ease 0s, visibility 0 ease 0.25s;
}
.success-container {
  position: relative;
  background: #527cff;
  padding: 1em 2em;
  width: 600px;
}

.success-links {
  padding: 0 2em 2em;
}

.success-container a {
  padding: 0 2em 3em;
}

.success-container a {
  border-bottom: 1px solid #fff;
  height: 13px;
  display: inline-block;
  padding: 2px;
}
.success-container a:hover,
.success-container a:focus {
  outline: 0;
  background: #fff;
  color: #527cff;
}
.success-links .link {
  margin: 0.5em 0;
}

.success-msg {
  color: #fff;
  font-family: Consolas, Courier, monospace;
  width: 100%;
  height: 100%;
  padding: 2em;
  box-sizing: border-box;
  overflow: auto;
}

.success-msg h1,
.success-msg p {
  margin: 1em;
  color: #fff;
  font-weight: normal;
}

.success-msg h1 {
  font-size: 2em;
  text-align: center;
}

.continue .success-overlay {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.25s, visibility 0;
}

.success-hide-btn {
  background-color: #363d43;
  border-color: #363d43;
  height: 40px;
  width: 40px;
  float: left;
  position: absolute;
  top: 1em;
  right: 1em;
  min-width: 0;
}

.success-hide-btn:after {
  content: "X";
  color: #fff;
  position: absolute;
  top: 10px;
  font-size: 13px;
  left: 14px;
}
